@import '@styles/base';

.container {
  @include displayFlex(column, center, center);
  gap: 2rem;
  padding: 2rem 1rem;
  @include screen(lg) {
    @include displayFlex(row, center, start);
  }
  .leftWrapper {
    @include displayFlex(column, center, center);
    width: 100%;
    gap: 2rem;
    .btnBack {
      width: 100%;
      @include displayFlex(row, start, center);
      gap: 0.5rem;
      cursor: pointer;
      border: none;
      @include shadow;
      background-color: $color-white;
      border-radius: 1.5rem;
      font-size: 1rem;
      font-weight: 600;
      padding: 0.8rem 1rem;
      @include screen(lg) {
        font-size: 1.2rem;
        padding: 1.1rem;
      }
      .icon {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
    }
    .wrapperOrderDetail {
      width: 100%;
      @include shadow;
      padding: 2rem 1.5rem;
      border-radius: 1rem;
      @include screen(lg) {
        padding: 2rem;
      }
      .headTitle {
        font-size: 1.5rem;
        font-weight: 700;
        width: max-content;
        color: $color-black-100;
      }
      .addressTitle {
        font-size: 1rem;
        margin-top: 0.5rem;
        font-weight: 700;
        width: max-content;
        color: $color-black-100;
        text-transform: capitalize;
      }
      .cabinAddress {
        font-size: 0.9rem;
        margin-top: 0.2rem;
        font-weight: 600;
        color: $color-gray-100;
        @include displayFlex(row, start, start);
        gap: 0.2rem;
        .icon {
          font-size: 1rem;
          color: $color-black-100;
        }
      }
      .listDetail {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-top: 1.5rem;
        @include screen(md) {
          grid-template-columns: 1fr 1fr 1fr;
        }
        .list {
          width: 100%;
          .title {
            font-size: 0.9rem;
            margin-top: 0.5rem;
            font-weight: 700;
            width: max-content;
            text-transform: capitalize;
            color: $color-black-100;
          }
          .value {
            color: $color-gray-200;
            font-size: 0.95rem;
            margin-top: 0.2rem;
            text-transform: capitalize;
            font-weight: 500;
          }
          .time {
            color: $color-black-100;
            font-size: 0.8rem;
            font-weight: 700;
          }
        }
      }
    }
    .wrapperContactDetail {
      width: 100%;
      @include shadow;
      padding: 2rem 1.5rem;
      border-radius: 1rem;
      @include screen(lg) {
        padding: 2rem;
      }
      .headTitle {
        font-size: 1.8rem;
        font-weight: 700;
        width: max-content;
        color: $color-black-100;
        margin-bottom: 1.5rem;
      }
      .box {
        margin-top: 1rem;
        width: 100%;
        position: relative;
        .value {
          width: 100%;
          padding: 0.9rem 0.6rem;
          font-size: 1.2rem;
          border-radius: 0.5rem;
          outline: none;
          transition: 0.3s ease-in-out;
          font-weight: 600;
          border: 2px solid $color-gray-100;
          background-color: transparent;
        }
        .title {
          background-color: $color-white;
          position: absolute;
          top: -0.5rem;
          font-size: 1rem;
          font-weight: 700;
          left: 0.7rem;
          padding: 0 0.5rem;
          transition: 0.3s ease-in-out;
          text-transform: capitalize;
          color: $color-gray-100;
        }
      }
    }
  }
  .rightWrapper {
    @include displayFlex(column, center, center);
    width: 100%;
    gap: 2rem;
    @include screen(lg) {
      width: 65%;
    }
    .wrapperPriceDetail {
      width: 100%;
      @include shadow;
      padding: 2rem 1.5rem;
      border-radius: 1rem;
      @include screen(lg) {
        padding: 2rem;
      }
      .headTitle {
        font-size: 1.5rem;
        font-weight: 700;
        width: max-content;
        color: $color-black-100;
      }
      .wrapperPriceList {
        margin-top: 2rem;
        @include displayFlex(column, center, start);
        width: 100%;
        gap: 0.5rem;
        .list {
          @include displayFlex(row, space-between, center);
          width: 100%;
          .title {
            font-size: 1rem;
            font-weight: 600;
            color: $color-gray-200;
            margin-top: 0.5rem;
            width: max-content;
            text-transform: capitalize;
            &.value {
              font-size: 1.3rem;
              color: $color-black-100;
            }
            &.total {
              font-size: 1.3rem;
              color: $color-black-100;
              font-weight: 700;
              margin-top: 0.8rem;
            }
          }
          .value {
            font-size: 1rem;
            font-weight: 600;
            color: $color-black-100;
            text-transform: capitalize;
            &.cabin {
              font-size: 1.3rem;
              color: $color-black-100;
            }
            &.total {
              font-size: 1.3rem;
              color: $color-black-100;
              font-weight: 700;
            }
          }
        }
      }
      .btnContinue {
        margin-top: 2rem;
      }
    }
  }
}
