@import '@styles/base';

.card {
  @include shadow;
  border-radius: 1rem;
  background-color: $color-white;
  padding: 1.2rem;
  width: 100%;
  .wrapperHead {
    @include screen(md) {
      @include displayFlex(row-reverse, space-between, center);
      width: 100%;
    }
    .wrapperOrderId {
      width: 100%;
      @include displayFlex(row, space-between, center);
      @include screen(md) {
        @include displayFlex(row, end, center);
        gap: 0.2rem;
      }
      .titleOrderId {
        font-weight: 600;
        font-size: 1rem;
      }
      .valueOrderId {
        font-weight: 700;
        font-size: 1rem;
        color: $color-gray-400;
      }
    }
    .chip {
      width: max-content;
      border: 1.5px solid orange;
      padding: 0.2rem 0.7rem;
      border-radius: 0.3rem;
      font-weight: 700;
      font-size: 1rem;
      text-transform: capitalize;
      color: orange;
      margin-top: 1rem;
      @include screen(md) {
        width: 27% !important;
        @include displayFlex(row, center, center);
      }
      @include screen(lg) {
        width: 24% !important;
      }
      @include screen(xl) {
        width: 18% !important;
      }
    }
  }
  .wrapperContent {
    margin-top: 1.2rem;
    width: 100%;
    overflow: hidden;
    @include displayFlex(column, center, start);
    gap: 1rem;
    .content {
      @include displayFlex(row, start, start);
      gap: 0.5rem;
      .icon {
        color: $color-green-100;
        font-size: 2rem;
      }
      .address {
        width: 100%;
        text-align: start;
      }
    }
  }
  .textWaiting {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.8rem;
    color: $color-gray-100;
  }
  .wrapperBtnPending {
    @include displayFlex(column, center, center);
    width: 100%;
    margin-top: 1.5rem;
    gap: 0.5rem;
    @include screen(md) {
      @include displayFlex(row-reverse, center, center);
      gap: 2rem;
    }
    @include screen(lg) {
      padding: 0 5rem;
      gap: 10rem;
    }
    .btnCancel {
      background-color: transparent;
      color: $color-green-100;
    }
  }
}
