@import '@styles/base';

.form {
  @include directionY;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin-top: 1rem;
  @include screen(md) {
    margin-top: 2rem;
    gap: 1rem;
  }
  .wrapperInput {
    @include directionY;
    width: 100%;
    gap: 0.3rem;
    margin-top: 1rem;
    position: relative;
    .title {
      font-size: 0.8rem;
      color: $color-black-100;
      font-weight: 700;
      @include screen(md) {
        font-size: 1rem;
      }
    }
    .errorInput {
      color: red;
      font-size: 12px;
    }
    .input {
      width: 100%;
      height: 2.8rem;
      color: $color-black-100;
      font-weight: 600;
      margin-bottom: 10px;
      border: none;
      border: 1px solid rgb(217, 213, 213);
      border-radius: 0.2rem;
      font-size: 1rem;
      padding: 0 3rem 0 0.8rem;
      outline: none;
      background-color: transparent;
      @include screen(md) {
        height: 3rem;
      }
      @include screen(xl) {
        font-size: 1.1rem;
      }
    }

    .input:focus {
      border: 1.5px solid $color-green-100;
    }
    .icon {
      position: absolute;
      top: 57%;
      right: 0.1rem;
      transform: translate(-50%, -50%);
      border: none;
      color: $color-gray-300;
      @include displayFlex(row, center, center);
      cursor: pointer;
      background-color: transparent;
    }
  }
}
