@import '@styles/base';

.form {
  @include directionY;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin-top: 1rem;
  @include screen(md) {
    margin-top: 2rem;
    gap: 1rem;
  }
  .wrapperInput {
    position: relative;
    .icon {
      position: absolute;
      top: 57%;
      right: 0.1rem;
      transform: translate(-50%, -50%);
      border: none;
      color: $color-gray-300;
      @include displayFlex(row, center, center);
      cursor: pointer;
      background-color: transparent;
    }
  }
}
