@import '@styles/base';
.form {
  @include directionY;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin-top: 1rem;
  overflow-y: scroll;
  padding-top: 5rem;
  height: 50vh;
  @include screen(md) {
    width: 80%;
    height: max-content;
    margin: 3rem auto 0 auto;
    overflow-y: hidden;
    padding-top: 0;
    gap: 1rem;
  }
  .wrapperInput {
    @include directionY;
    width: 100%;
    gap: 0.3rem;
    .title {
      font-size: 0.8rem;
      font-weight: 500;
      color: #fff;
      @include screen(md) {
        font-size: 1rem;
      }
    }
    .errorInput {
      color: red;
      font-size: 12px;
    }
    .input {
      width: 100%;
      height: 2rem;
      color: #fff;
      margin-bottom: 10px;
      border: none;
      border-bottom: 1px solid rgb(217, 213, 213);
      font-size: 16px;
      padding: 0 1rem;
      outline: none;
      font-weight: 500;
      background-color: transparent;
      @include screen(md) {
        height: 3rem;
      }
    }
  }

  .forgot {
    color: white;
    width: 100%;
    font-size: 12px;
    @include screen(md) {
      font-size: 0.8rem;
    }
  }

  button[type='submit'] {
    padding: 10px 20px;
    margin-top: 1rem;
    border: none;
    border-radius: 4px;
    width: 100%;
    background-color: #334155;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out;
    @include screen(md) {
      padding: 12px 20px;
    }
  }
  .orText {
    color: white;
    background-color: var(--color-bg-secondary);
    margin: 0.5rem 0;
    font-size: 12px;
  }
  button[type='submit']:hover {
    opacity: 0.9;
  }
  .googleBtn {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #334155;
    background-color: transparent;
    cursor: pointer;
    color: white;
    @include directionX;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    gap: 1rem;
    font-size: 16px;
  }
  .toRegister {
    font-size: 14px;
    @include displayFlex(row, center, center);
    margin-top: 0.2rem;
    gap: 0.8rem;
    color: #94a3b8;
    a {
      color: #fff;
      font-weight: 600;
    }
  }
}
