@import '@styles/base';

.wrapper {
  width: 100% !important;
  min-height: 100vh !important;
  @include displayFlex(column-reverse, center, center);
  @include screen(lg) {
    @include displayFlex(row, space-between, center);
  }
  .wrapperLeftAuth {
    width: 100%;
    height: max-content;
    background: transparent;
    padding: 0 1rem 2rem 1rem;
    @include screen(md) {
      height: 100vh;
      width: 50% !important;
      @include displayFlex(row, start, center);
    }
    @include screen(xl) {
      padding: 0 4% 0 10%;
    }
    .wrapperCard {
      width: 100%;
      @include displayFlex(column, start, center);
      gap: 2rem;
      .card {
        @include displayFlex(row, start, center);
        gap: 1rem;
        width: 100%;
        @include screen(md) {
          gap: 2rem;
        }
        .icon {
          width: 10%;
          @include screen(md) {
            width: 15%;
          }
        }
        .wrapperText {
          @include displayFlex(column, start, start);
          gap: 0.6rem;
          .title {
            font-size: 1rem;
            color: $color-black-100;
            font-weight: 700;
            @include screen(md) {
              font-size: 1.2rem;
            }
          }
          .description {
            font-size: 0.8rem;
            font-weight: 500;
            color: $color-gray-300;
            @include screen(md) {
              font-size: 0.9rem;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  .wrapperRightAuth {
    width: 100% !important;
    height: max-content;
    padding: 5rem 1rem;
    position: relative;
    @include displayFlex(column, center, center);
    @include screen(lg) {
      height: 100vh;
      width: 50% !important;
      @include displayFlex(row, start, center);
    }
    @include screen(xl) {
      padding: 0 10% 0 0;
    }
    .wrapperHead {
      top: 1.5rem;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 0 1rem;
      @include displayFlex(row, end, center);
      @include screen(md) {
        top: 2rem;
        padding: 0 2rem;
      }
    }

    .wrapperChildren {
      height: max-content;
      width: 100%;
      @include displayFlex(column, center, center);
      border-radius: 0.4rem;
      padding: 1.5rem 1rem;
      box-shadow:
        0 0 #0000,
        0 0 #0000,
        1px 2px 2px 2px rgba(0, 0, 0, 0.1);
      @include screen(md) {
        padding: 1.5rem;
      }
      @include screen(xxl) {
        max-width: 80%;
        margin: auto;
      }
      .wrapperLogo {
        @include displayFlex(row, start, center);
        padding: 0 1rem;
        width: 100%;
        gap: 1rem;
        .btnBack {
          width: max-content;
          padding: 0;
          background-color: transparent;
          color: $color-green-100;
        }
        .logo {
          width: 3rem;
          height: 3rem;
        }
        .wrapperText {
          @include displayFlex(column, start, start);
          gap: 0.2rem;
          .title {
            font-size: 1.5rem;
            max-width: 90%;
            font-weight: 700;
            letter-spacing: 1.5px;
            @include screen(xxl) {
              max-width: 100%;
            }
          }
          .subTitle {
            font-size: 0.9rem;
            font-weight: 600;
            color: $color-gray-100;
          }
        }
      }
    }
  }
}
