@import '@styles/base';

.container {
  @include displayFlex(column, center, center);
  padding: 2rem 0;
  font-family: Nunito, sans-serif;
  @include screen(md) {
    gap: 2rem;
  }
  .headTitle {
    text-align: center;
  }
  .wrapper {
    margin-top: 2rem;
    @include screen(md) {
      @include displayFlex(column-reverse, center, center);
      gap: 2rem;
    }
    @include screen(lg) {
      @include displayFlex(row, center, start);
      width: 100%;
      padding: 1rem;
    }
    .leftWrapper {
      display: none;
      @include screen(md) {
        width: 100%;
        @include shadow;
        display: block;
        height: max-content;
        border-radius: 1rem;
        background-color: $color-white;
        padding: 2rem 3rem;
      }
      @include screen(lg) {
        width: 40%;
      }
      .username {
        width: 100%;
        @include displayFlex(row, center, center);
        font-size: 2rem;
        font-weight: 600;
        text-transform: capitalize;
      }
      .wrapperMenu {
        @include displayFlex(column, center, start);
        gap: 1rem;
        margin-top: 2rem;
        .button {
          @include displayFlex(row, center, center);
          gap: 1rem;
          border: none;
          background-color: transparent;
          color: $color-black-100;
          cursor: pointer;
          font-size: 1.2rem;
          font-weight: 500;
          padding: 0;
          width: max-content;
        }
      }
    }
    .rightWrapper {
      @include displayFlex(column, center, center);
      width: 100%;
      gap: 2rem;
      .imageWrapper {
        @include displayFlex(column, center, center);
        width: calc(100% - 2rem);
        margin: auto;
        height: max-content;
        box-shadow:
          0 0 10px -2px rgb(0 0 0 / 0.1),
          0 0 10px -2px rgb(0 0 0 / 0.1);
        border-radius: 1rem;
        background-color: $color-white;
        padding: 1.9rem 2.1rem;
        gap: 2rem;
        @include screen(sm) {
          @include displayFlex(row, center, start);
          gap: 1rem;
          width: 100%;
        }
        .wrapperImageContent {
          @include displayFlex(column, center, start);
          gap: 1rem;
          width: 100%;
          @include screen(sm) {
            @include displayFlex(column, center, center);
          }
          .wrapperImage {
            position: relative;
            width: 100%;
            height: 12rem;
            border-radius: 1.5rem;
            border: 2px solid $color-green-100;
            background-color: transparent;
            overflow: hidden;

            @include screen(md) {
              width: 85%;
            }
            .btnRemoveImg {
              position: absolute;
              width: max-content;
              right: 0;
              padding: 0.6rem;
              border-radius: 0 0 0 1.8rem;

              .icon {
                font-size: 1.8rem;
              }
            }
            .img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            .wrapperBtn {
              position: absolute;
              bottom: 0.2rem;
              right: 0;
              width: 100%;
              @include displayFlex(row, space-between, center);
              padding: 0 1rem;
              .btnEdit {
                padding: 0.2rem 0.6rem;
                border-radius: 0.5rem;
                @include displayFlex(row, center, center);
                color: $color-green-100;
                background-color: $color-white;
                width: max-content;
                box-shadow:
                  0 0 10px -2px rgb(0 0 0 / 0.1),
                  0 0 10px -2px rgb(0 0 0 / 0.1);
                cursor: pointer;
                border: none;
              }
              .input[type='file'] {
                display: none;
              }
            }
          }
        }
        .btnSaveImage {
          width: 60%;
          font-size: 0.9rem;
          padding: 0.7rem 0;
          margin: auto;
        }
      }

      .wrapperValue {
        @include displayFlex(column, center, center);
        width: calc(100% - 2rem);
        margin: 0 auto;
        height: max-content;
        box-shadow:
          0 0 10px -2px rgb(0 0 0 / 0.1),
          0 0 10px -2px rgb(0 0 0 / 0.1);
        border-radius: 1rem;
        background-color: $color-white;
        gap: 2rem;
        padding: 2rem 1.5rem;
        @include screen(md) {
          width: 100%;
          padding: 3rem 5rem;
        }
        .box {
          width: 100%;
          position: relative;

          .value {
            width: 100%;
            padding: 0.9rem 0.6rem;
            font-size: 1rem;
            border-radius: 0.5rem;
            outline: none;
            border: 2px solid $color-gray-100;
            transition: 0.3s ease-in-out;
            font-weight: 500;
            background-color: transparent;
            &.verified {
              border-color: $color-green-100;
            }
          }
          .title {
            background-color: $color-white;
            position: absolute;
            top: -0.5rem;
            font-size: 1rem;
            font-weight: 600;
            left: 0.7rem;
            padding: 0 0.5rem;
            transition: 0.3s ease-in-out;
            color: $color-gray-100;
            &.verified {
              color: $color-green-100;
            }
          }
          .icon {
            display: none;
            &.verified {
              display: block;
              position: absolute;
              right: 0.2rem;
              font-size: 1rem;
              color: $color-green-100;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }
}
