@import '@styles/base';

.wrapperContentlogo {
  @include displayFlex(column, center, start);
  padding: 1rem;
  gap: 1rem;
  @include screen(md) {
    @include displayFlex(row, space-between, center);
  }
  .wrapperLogo {
    @include displayFlex(row, start, center);
    cursor: pointer;
    align-items: center;
    background: none;
    border: none;
    gap: 0.1rem;
    .logo {
      width: 2rem;
      height: 2rem;
      @include screen(lg) {
        width: 3rem;
        height: 3rem;
      }
    }
    .logoTitle {
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 1.5px;
      color: $color-green-100;
      @include screen(lg) {
        font-size: 2rem;
      }
    }
  }
  .buttonEmail {
    width: max-content;
    background-color: transparent;
    color: $color-black-100;
    @include displayFlex(row, start, center);
    text-decoration: none;
    gap: 0.5rem;
    cursor: pointer;
    .icon {
      color: $color-green-100;
      @include screen(md) {
        font-size: 2rem;
      }
    }
    .wrapperText {
      @include displayFlex(column, start, start);
      gap: 0;
    }
  }
}
.content {
  width: 100%;
  @include displayFlex(row, center, center);
  padding: 1rem;
}
