@import '@styles/base';

.wrapper {
  @include directionY;
  padding: 1rem;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 3.5rem);
  max-width: 1200px;
  margin: 2rem auto;

  .image {
    width: 35%;
    @include screen(md) {
      width: 25%;
    }
  }

  .title {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
    max-width: 98%;
    text-align: center;
    @include screen(md) {
      max-width: 70%;
      font-size: 2rem;
    }
  }
  .wrapperContent {
    @include displayFlex(column, center, center);
    width: 100%;
    height: max-content;
    padding: 0 1rem;
    margin-top: 1rem;
    @include screen(md) {
      padding: 0 10rem;
      margin-top: 5rem;
    }
    .wrapperCountdown {
      width: 100%;
      @include displayFlex(row, space-between, center);
      gap: 2rem;
      .countdown {
        font-size: 20px;
        font-weight: 600;
        color: white;
      }
    }
    .wrapperVA {
      width: 100%;
      margin-top: 2rem;
      @include displayFlex(column, center, center);
      gap: 0.2rem;
      @include screen(md) {
        @include displayFlex(row, space-between, center);
      }
      .title {
        font-size: 18px;
      }
      .noVa {
        font-size: 20px;
      }
    }
  }
  .btnCopy {
    width: 100%;
    margin-top: 0.4rem;
    padding: 0.5rem 0;
    font-size: 20px;
    font-weight: 600;
    color: black;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    @include screen(md) {
      margin-top: 1rem;
    }
  }
  .btnCopy:hover {
    opacity: 0.4;
  }
  .wrapperBtn {
    width: 100%;
    @include displayFlex(row, center, center);
    margin-top: 5rem;
    .button {
      padding: 0.5rem 4rem;
      border: none;
      font-size: 1rem;
      font-weight: 600;
      border-radius: 4px;
      cursor: pointer;
      color: white;
      background: #ff9d00;
    }
  }
}
