@import '@styles/base';

.toggle {
  @include displayFlex(row, center, center);
  padding: 0.25rem;
  border: none;
  border-radius: 1rem;
  background-color: $color-white;
  cursor: pointer;
  color: $color-black-100;
  gap: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px 0px;
  .avatar {
    width: 1.5rem;
    height: 1.5rem;
  }
  .lang {
    font-family: Nunito, sans-serif;
    font-weight: 900;
    font-size: 0.85rem;
    text-transform: uppercase;
    color: $color-black-100;
  }
  .arrowIcon {
    font-size: 1.3rem;
    color: $color-black-100;
  }
}
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paper {
  background-color: white;
  box-shadow:
    24px 38px 48px 0 rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12),
    11px -15px 66px 0 rgba(0, 0, 0, 0.2);
  padding: 0 1.2rem 0.7rem 1.2rem;
  width: 400px;
  overflow: auto;
  border-radius: 1rem;
  max-width: 80%;
  @include screen(xl) {
    max-width: 90%;
  }
  .headTitle {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.4rem 1rem;
    color: $color-black-100;
  }
  .menu {
    @include displayFlex(row, space-between, center);
    padding: 1rem;
    width: 100%;
    gap: 0.2rem;
    .wrapperLeft {
      @include displayFlex(row, start, center);
      gap: 1rem;
      .avatar {
        width: 1.5rem;
        height: 1.5rem;
      }
      .textLang {
        font-size: 1rem;
        font-weight: 600;
        color: $color-black-100;
      }
    }
    .checkIcon {
      color: $color-green-100;
    }
  }
}
