@import '@styles/base';

.wrapper {
  height: 100%;
  overflow-y: scroll;
  margin-top: 1rem;
  @include screen(lg) {
    margin-top: 0;
    overflow-y: auto;
    width: 100%;
    max-height: 20rem;
  }
  .headTitle {
    font-size: 1.3rem;
  }
  .wrapperLocation {
    margin-left: 0.5rem;
    .titleCity {
      margin-top: 1rem;
      font-size: 1.2rem;
      font-weight: 600;
    }
    .wrapperNames {
      @include displayFlex(column, center, start);
      margin-top: 0.2rem;
      .names {
        font-size: 1.19rem;
        font-weight: 500;
        color: $color-black-100;
        transition: 0.2s ease-in-out;
        padding: 0.8rem 1rem;
        text-align: start;
        background-color: transparent;
        &:hover {
          background-color: $color-green-100;
          color: #ffffff;
          font-weight: 700;
        }
        &.selected {
          background-color: $color-green-100;
          color: #ffffff;
          font-weight: 700;
        }
      }
    }
  }
}
