@import '@styles/base';
.wrapperPaymentMethod {
  width: 100%;
  @include shadow;
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  @include screen(md) {
    max-height: 44.5vh;
    overflow-y: scroll;
  }
  .headTitle {
    font-size: 1.5rem;
    font-weight: 700;
    width: max-content;
    color: $color-black-100;
  }
  .accordion {
    margin-top: 2rem;
    background-color: transparent;
    box-shadow: none;
    .summary {
      background-color: transparent;
      color: $color-black-100;
      font-weight: 600;
    }
    .accordionDetails {
      @include displayFlex(column, center, center);
      gap: 1rem;
      width: 100%;
      .wrapperCotentDetails {
        width: 100%;
        border: 1px solid $color-gray-100;
        padding: 1rem;
        border-radius: 0.3rem;
        @include displayFlex(row, start, start);
        gap: 0.76rem;
        position: relative;
        .icon {
          width: 15%;
        }
        .content {
          width: calc(100% - 15%);
          .radioButton {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
          }
          .title {
            font-size: 1.1rem;
          }
          .desc {
            font-size: 0.9rem;
            font-weight: 600;
            width: 90%;
          }
          .accordionStep {
            background-color: transparent;
            box-shadow: none;
            overflow: hidden;
            width: 100%;
            margin: 0;
            .summary {
              border-bottom: 1px solid gray;
              margin: 0;
              padding: 0;
              font-size: 0.9rem;
              font-weight: 600;
            }
            .accordionDetails {
              @include displayFlex(row, start, start);
              width: 100%;
              padding: 0.2rem 0;
              font-size: 0.8rem;
              font-weight: 600;
              gap: 0.4rem;
            }
          }
        }
      }
    }
  }
}
.wrapperPaymentMethod::-webkit-scrollbar,
.wrapperPaymentMethod::-webkit-scrollbar-thumb {
  border-radius: 1.5rem; /* Radius untuk scrollbar */
  background-color: $color-white; /* Warna latar belakang scrollbar */
  width: 0.5rem;
}
.wrapperPaymentMethod::-webkit-scrollbar-thumb {
  /* Warna thumb scrollbar */
  background-color: rgb(193, 187, 187);
}

/* Styling untuk bagian track scrollbar */
.wrapperPaymentMethod::-webkit-scrollbar-track {
  /* Warna track scrollbar */
  background-color: $color-white;
}
