@import '@styles/base';
.wrapper {
  height: 100%;
  position: relative;
  width: 100%;
  padding: 1rem 0;
  @include screen(lg) {
    padding: 0;
  }
  .wrapperBtn {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
    gap: 1.4rem;
    margin-top: 2rem;
    .btnRoomNumber {
      background-color: transparent;
      padding: 0.5rem 0.8rem;
      border-radius: 0.5rem;
      width: max-content;
      color: $color-black-100;
      border: 2px solid $color-black-100;
      &.dissabled {
        cursor: not-allowed;
        color: $color-gray-100;
        border-color: $color-gray-100;
      }
      &.selected {
        color: $color-green-100;
        border-color: $color-green-100;
      }
    }
  }
  .btnConfirm {
    position: static;
    margin-top: 2rem;
  }
}
