@import '@styles/base';

.form {
  width: 100%;
  @include screen(md) {
    width: fit-content;
    margin: 1rem auto 0 auto;
  }

  .input {
    color: $color-green-100;
    border-radius: 0.375rem;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    border: 2.2px solid $color-gray-100;
    width: 2.5rem !important;
    height: 2.5rem !important;
    @include screen(md) {
      width: 3rem !important;
      height: 3rem !important;
    }
  }
  .containerInput {
    @include displayFlex(row, center, center);
    gap: 0.5rem;
  }
  .resendWrapper {
    width: 100%;
    text-align: center;
    margin: 2rem 0 1rem 0;
    font-size: 14px;
    color: gray;
    @include directionX;
    gap: 0.4rem;
    justify-content: center;
    .button {
      font-weight: 600;
      color: orange;
      font-size: 16px;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    .button:hover {
      opacity: 0.8;
    }
  }
  .wrapperBtn {
    @include displayFlex(column, center, center);
    width: 100%;
    gap: 1rem;
    .btnBack {
      background-color: transparent;
      border: 2px solid $color-green-100;
      color: $color-green-100;
      padding: 0.7rem;
    }
  }
}
