@import '@styles/base';

.wrapperHead {
  @include displayFlex(row, space-between, center);
  width: 100%;
  padding: 0.8rem 1rem;
  .wrapperLogo {
    @include displayFlex(row, center, center);
    cursor: pointer;
    align-items: center;
    background: none;
    border: none;
    gap: 0.1rem;
    .logo {
      width: 1.8rem;
      height: 1.8rem;
    }
    .logoTitle {
      font-size: 1.3rem;
      font-weight: 600;
      letter-spacing: 1.5px;
      color: $color-green-100;
    }
  }
  .closeBtn {
    background-color: transparent;
    width: max-content;
    @include displayFlex(row, center, center);
    border: none;
    cursor: pointer;
    .icon {
      font-size: 2rem;
    }
  }
}
.wrapperContentDrawer {
  width: 100%;
  height: auto;
  padding: 1rem;
  .wrapperFooter {
    @include displayFlex(row, space-between, center);
    width: 100%;

    .btnAvatar {
      @include displayFlex(row, start, center);
      width: max-content;
      border: none;
      background-color: transparent;
      gap: 0.5rem;
      cursor: pointer;
      .username {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
    .logout {
      width: 20%;
      font-size: 0.9rem;
      padding: 0.5rem 0;
    }
  }
  .wrapperBtn {
    width: 100%;
    @include displayFlex(row, center, center);
    gap: 2rem;
    padding: 0 2rem;
    margin-top: 2rem;
  }
}
.btnLang {
  width: max-content;
  position: absolute;
  right: 4.5rem;
  top: 0.8rem;
}
.wrapperAvatar {
  display: none;
  @include screen(md) {
    border: none;
    @include displayFlex(row, center, center);
    background-color: transparent;
    cursor: pointer;
    gap: 0.2rem;
    width: 100%;
    max-width: 10rem;
    .username {
      font-size: 1.2rem;
      font-weight: 500;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.headerWrapper {
  background-color: $color-white;
  position: sticky;
  top: 0;
  width: 100%;
  height: max-content;
  padding: 1.2rem 0.5rem;
  border-bottom: 0.1px solid rgb(188, 183, 183);
  z-index: 99;
  @include screen(md) {
    border: none;
    padding: 0.8rem 2rem;
  }
  .contentWrapper {
    @include directionX;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    .wrapperLeft {
      @include displayFlex(row, center, center);
      gap: 1rem;
      .wrapperLogo {
        @include displayFlex(row, center, center);
        cursor: pointer;
        align-items: center;
        background: none;
        border: none;
        gap: 0.1rem;
        .logo {
          width: 1.8rem;
          height: 1.8rem;
        }
        .logoTitle {
          font-size: 1.3rem;
          font-weight: 600;
          letter-spacing: 1.5px;
          color: $color-green-100;
        }
      }
    }

    .wrapperRight {
      @include displayFlex(row, center, center);
      width: max-content;
      gap: 1rem;
      .wapperBtnRight {
        @include displayFlex(row, center, center);
        @include screen(md) {
          display: none;
        }
        .menuBtn {
          @include displayFlex(row, center, center);
          border: none;
          background-color: transparent;
          cursor: pointer;
          color: $color-green-100;
          .icon {
            font-size: 2rem;
          }
        }
      }
      .wrapperAvatar {
        display: none;
        @include screen(md) {
          border: none;
          @include displayFlex(row, center, center);
          background-color: transparent;
          cursor: pointer;
          gap: 0.2rem;
          width: 100%;
          max-width: 10rem;
          .username {
            font-size: 1.2rem;
            font-weight: 500;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
      .wrapperBtn {
        display: none;
        @include screen(md) {
          @include displayFlex(row, center, center);
          .login {
            padding: 0.7rem 1.5rem;
            font-size: 0.9rem;
            background-color: transparent;
            color: $color-black-100;
          }
          .register {
            padding: 0.7rem 1.8rem;
            font-size: 0.9rem;
            border-radius: 0.6rem;
          }
        }
      }
      .wrapperBtnLang {
        display: none;
        @include screen(md) {
          display: block;
          height: max-content;
          width: max-content;
        }
      }
    }
  }
}
