@import '@styles/base';

.headerWrapper {
  background-color: $color-white;
  position: fixed;
  top: 0;
  width: 100%;
  height: max-content;
  padding: 0.2rem 0.5rem;
  border-top: 0.1px solid rgb(188, 183, 183);
  border-bottom: 0.1px solid rgb(188, 183, 183);
  z-index: 99;
  @include screen(md) {
    border: none;
    padding: 0.8rem 2rem;
  }
  .contentWrapper {
    @include directionX;
    max-width: 1200px;
    margin: auto;
    color: var(--color-text);
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    @include screen('small') {
      padding: 0 1rem;
    }
    .wrapperLeft {
      @include displayFlex(row, center, center);
      gap: 1rem;
      .wrapperLogo {
        @include displayFlex(row, center, center);
        cursor: pointer;
        align-items: center;
        background: none;
        border: none;
        gap: 0.1rem;
        .logo {
          width: 2.5rem;
          height: 2.5rem;
        }
        .logoTitle {
          font-size: 18px;
          font-weight: 200;
          font-style: italic;
          color: $color-green-100;
        }
      }
    }

    .links {
      @include displayFlex(row, center, center);
      gap: 0.5rem;
      .searchButton {
        border: none;
        cursor: pointer;
        background-color: transparent;
        color: rgb(171, 170, 170);
        @include displayFlex(row, center, center);
        @include screen(md) {
          display: none;
        }
      }
      .wrapperAvatar {
        width: 27px;
        height: 27px;
        @include screen(md) {
          margin-right: 1rem;
          width: 30px;
          height: 30px;
        }
        .avatar {
          width: 1.7rem;
          height: 1.7rem;
        }
      }
    }
    .menu {
      @include directionX;
      align-items: center;

      .menuAvatar {
        width: 1rem;
        height: 1rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin-right: 0.5rem;
      }

      .menuLang {
        font-family: Poppins, Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
      }
    }
  }
}
