$color-white: #f7f7f7;
$color-white-fade: rgba(255, 255, 255, 0.207);
$color-green-100: #00b4ab;
$color-green-200: #2db6b6;
$color-green-300: #29a4a480;
$color-green-400: rgba(41, 164, 164, 0.05);
$color-gray-100: #858585;
$color-gray-200: #707070;
$color-gray-300: #5c5c5c;
$color-gray-400: #474747;
$color-black-100: #333333;
