@import '@styles/base';

.searchWrapper {
  margin: 2rem auto;
  padding: 1rem;
  box-shadow:
    0 0 10px -2px rgb(0 0 0 / 0.1),
    0 0 10px -2px rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
  font-family: Nunito, sans-serif;
  @include displayFlex(column, center, start);
  gap: 0.5rem;
  width: 92%;
  @include screen(lg) {
    width: 100%;
  }
  .subTitle {
    font-size: 0.95rem;
    font-weight: 600;
    color: $color-gray-300;
  }
  .title {
    font-size: 1.4rem;
    font-weight: 700;
    color: $color-black-100;
  }
}
